.collection-item {
    line-height: 0 !important;
    padding: 2px 15px !important;
    cursor: pointer;
}

.collection-item span {
    color: black;
}

.p1 li.collection-item:hover {
    background-color: #f3e5f5;
}

.p2 li.collection-item:hover {
    background-color: #e8f5e9 ;
}
