.mySection {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p1 button {
    color: purple;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
}

.p2 button {
    color: green;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
}

.corners {
    border-radius: 8px;
}
