.mySection {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p1 button {
    color: purple;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
}

.p2 button {
    color: green;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
}

.p1 input:focus {
    border-bottom: 1px solid purple !important;
    box-shadow: 0 1px 0 0 purple !important;
}

.p2 input:focus {
    border-bottom: 1px solid green !important;
    box-shadow: 0 1px 0 0 green !important;
}

.corners {
    border-radius: 8px;
}
