.mySection {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p1 button {
    color: purple;
    height: auto;
    margin-bottom: 10px;
    
}

.p2 button {
    color: green;
    height: auto;
    margin-bottom: 10px;
}
