.statSelected {
    border: .5px solid black;
}

.statChips {
    margin-bottom: 20px;
    padding-top: 20px;
}

.chip {
    border-radius: 8px;
    cursor: pointer;
}


.chip.notSelected:hover {
    box-shadow:0 0 1px 1px black;
} 